<div class="page-header">
  <%= link_to test_weights_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New test_weight</h1>
</div>

<%= render 'form' %>
